body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #ffcccb;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
}

h1 {
    color: #006400;
}

h2 {
    color: #8b0000;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}
